<% include("./partials/header.ejs")%>

<h1>Forget </h1>

<% if(typeof message !== 'undefined'){ %>

<h5><%= message %></h5>
<% } %>

<form action="/forget" method="post">
  <input type="email" name="email" placeholder="Enter email" required />
  <br /><br />

  <input type="submit" value="Send reset link" />
  <br /><br />
</form>



<% include("./partials/footer.ejs")%>
